<div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-light"> Prueba Final</h3>
    <hr class="text-white">
    <h4 class="text-light">Gifs</h4>
    <hr class="text-light">
    <ul class="list-group" style="cursor:pointer;">
        <li routerLink="gifs" routerLinkActive="active" [routerLinkActiveOptions]="{ exact : true}" class="list-group-item">Gifs</li>
    </ul>
    <br>
    <h4 class="text-light">Busquedas</h4>
    <hr class="text-light">
    <ul class="list-group" style="cursor:pointer;">
        <li routerLink="paises" routerLinkActive="active" class="list-group-item">Buscar País</li>
        <li routerLink="regiones" routerLinkActive="active" class="list-group-item ">Buscar por Región</li>
    </ul>
</div>